@keyframes bounce {
    0%, 60%,
    to {
        -webkit-transform:scale(.625);
        transform:scale(.625)
    }
    30% {
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
.throbber__bouncer {
    display: inline-block;
    -webkit-transform: scale(.625);
    transform: scale(.625);
    width: 32px;
    height: 32px;
    vertical-align: top;
    border-radius: 50%;
    background: #00b956;
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-animation-duration: .85s;
    animation-duration: .85s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}
.throbber__bouncer:nth-child(1) {
    -webkit-animation-delay: .15s;
    animation-delay: .15s
}
.throbber__bouncer:nth-child(2) {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}
.throbber__bouncer:nth-child(3) {
    background: #731982;
    -webkit-animation-delay: .45s;
    animation-delay: .45s
}
.throbber__bouncer:not(:last-child) {
    margin-right: -5px
}
.throbber{
    width: 86px;
    height: 32px
}
.throbber--center{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.throbber_size_l>.throbber__bouncer:not(:last-child) {
    margin-right: -10px
}
